@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: RijksText;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://www.rijksmuseum.nl/statics/fonts/Rijksmuseum-Normal.woff2')
            format('woff2'),
        url('https://www.rijksmuseum.nl/statics/fonts/Rijksmuseum-Normal.woff')
            format('woff');
}
